.board_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border: 1px solid black;
  width: 350px;
  min-height: 180px;
  background-color: #2B2B2B;
  border-radius: 7px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 5px;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(40, 160, 162, 0.14) 0px 0px 10px;
    border: 1px solid rgba(40, 160, 162, 0.14);
  }

  .column-edit-panel {
    display: flex;
    flex-direction: row;
    width: 100%;

    h2 {
      margin-right: auto;
    }

    .board__card-icon {
      width: 22px;
      height: 22px;
      margin-left: 5px;
      transition: 0.1s;

      &:hover {
        transform: scale(1.4);
      }
    }
  }

  .add-task {
    transition: 0.1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .board_column_tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 30px;
    padding: 5px;
  }
}