.board_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .board_btn {
    background-color: rgba(40, 160, 162, 0.14);
    &:hover {
      cursor: pointer;
      background-color: #31404F;
    }
  }

  .board_columns {
    //height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }
}
