.menu-flags {
  width: 100px;
  border: none;
  padding: 0;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none;
}
.ReactFlagsSelect-module_label__27pw9 {

}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  background-color: #2b2b2b;
}